#main{

}
#title{
position: relative;
font-size: 50px;
color:coral;
left: 400px;
}
#img-div{
  
}
#image {
max-width:100%;
height: auto;
justify-content:center;
}
img {
display: block;
}
h1{
  position: relative;
  left: 300px;
}